---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>

    <ul class="list">
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}/`}>
                        <span class="title">{post.data.title}</span>    
                        <span class="date">{post.data.pubDate.toDateString()}</span>
                        <span class="desc">{post.data.description}</span>
                    </a>
                </li>
            ))
        }
    </ul>

</Layout>

<style>

    .list {
        padding: 0;

        li, a, span {
            display: block;
        }

        li {
            margin-bottom: 2em;
        }

        a {
            padding: 1em 1.5em;
            border-radius: 0.4em;
            text-decoration: none;
            color: #000;

            &:hover {
                color: #369;
                background: #eee;
            }

            .title {
                font-size: 1.2em;
                font-weight: bold;
            }

            .date {
                font-size: 0.9em;
                font-style: italic;
                opacity: 0.5;
            }

            .desc {

            }
        }
    }

</style>