---
import { SITE_TITLE } from '../consts';
---

<header class="site-header">
    <div class="site-title">
        <a href="/">{SITE_TITLE}</a>
    </div>
	<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
        </ul>
	</nav>
</header>

<style>

    .site-header {
        display: flex;
        border-bottom: 2px solid #eee;
        margin-bottom: 2em;
        
        .site-title {
            font-size: 1.5em;

            a {
                display: block;
                text-decoration: none;
                color: #000;
                font-weight: bold;
            }
        }

        nav {
            margin-left: auto;

            ul {
                display: flex;
                gap: 1em;
            }

            li, a {
                display: block;
            }

            a {
                text-decoration: none;
                color: #369;
                padding: 0.5em 1em;
                border-radius: 0.3em;
                background: #eee;
                transition:
                    background 0.3s ease-in,
                    color 0.3s ease-in
                ;

                &:hover {
                    background: #369;
                    color: #fff;
                }
            }
        }

    }
	
</style>
